.container {
  font-family: 'Share Tech Mono', monospace;
  background-image: url("../imgs/space.jpg");
  color: #24b8d6;
  font-size: 18px;
}

h3 {
  color: #24b8d6;
}

.btn {
  margin-left: 155px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#dave {
width: 100%;
}

#hal {
  width: 70%;
}

.rightcolumn {

}
